<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/dashboard.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <script type='text/javascript' src='http://www.google.com/jsapi'></script>
    <script type='text/javascript' src='js/jquery.js'></script>
    <script type='text/javascript' src='js/jquery.flot.min.js'></script>
    <script type='text/javascript' src='js/jquery.flot.pie.js'></script>
    <script type='text/javascript' src='js/bootstrap.js'></script>
    <script type='text/javascript' src='js/moment.min.js'></script>
    <script type='text/javascript' src='js/dashboard.js'></script>
    <script type='text/javascript'>
      google.load('visualization', '1', {'packages':['annotatedtimeline', 'corechart']});
      google.setOnLoadCallback(init);
    </script>
  </head>

  <body>
    
    <div class="navbar navbar-inverse navbar-fixed-top">  
      <div class="navbar-inner">  
        <div id="nav_container" class="container"> 

          <a class="brand" href="#" title="Operations System Utility Monitoring Dashboard">OSUM Dashboard</a>

          <ul class="nav">
            <li><a href="#">Engineering</a> </li>
            <li><a href="#">Operations</a> </li>
            <li><a href="#">Business</a> </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid" id="container">
      <div class="row-fluid">
        <div class="span2"> 
          <ul class="nav nav-tabs nav-stacked">
            <li class="side-nav"><a href="#">Charts</a></li>
            <li class="side-nav"><a href="#">Users</a></li>
            <li class="side-nav"><a href="#">Management</a></li>
            <li class="side-nav"><a href="#">Events</a></li>
          </ul>
        </div>

        <div class="span10">
          <div class="sectionTitle">
            <h5>Current Availabilty</h5>
          </div>
          <div class="scrollDiv">
            <div id="piecharts_container">
              <div class="pieHolder">
                <div id='pie1' class='pie'></div>
                <span id='pie1Title' class='pieTitle'>
              </div>
              <div class="pieHolder">
                <div id='pie2' class='pie'></div>
                <span id='pie2Title' class='pieTitle'></span>
              </div>
              <div class="pieHolder">
                <div id='pie3' class='pie'></div>
                <span id='pie3Title' class='pieTitle'></span>
              </div>
              <div class="pieHolder">
                <div id='pie4' class='pie'></div>
                <span id='pie4Title' class='pieTitle'></span>
              </div>
              <div class="pieHolder">
                <div id='pie5' class='pie'></div>
                <span id='pie5Title' class='pieTitle'></span>
              </div>
              <div class="pieHolder">
                <div id='pie6' class='pie'></div>
                <span id='pie6Title' class='pieTitle'></span>
              </div>
              <div class="pieHolder">
                <div id='pie7' class='pie'></div>
                <span id='pie7Title' class='pieTitle'></span>
              </div>
              <div class="pieHolder">
                <div id='pie8' class='pie'></div>
                <span id='pie8Title' class='pieTitle'></span>
              </div>
              <div class="pieHolder">
                <div id='pie9' class='pie'></div>
                <span id='pie9Title' class='pieTitle'></span>
              </div>
              <div class="pieHolder">
                <div id='pie10' class='pie'></div>
                <span id='pie10Title' class='pieTitle'></span>
              </div>
            </div>
            <img id="leftButton" class='hidden' src="./imgs/leftArrow.png" alt="<">
            <img id="rightButton" class='hidden' src="./imgs/rightArrow.png" alt=">">
          </div>
          <div id="panel">
            <div id="panel-header"> 
              <div id="panel-title"></div>
              <div class="btn-group" id="panel-btns" data-toggle="buttons-radio">
                <button id="24hrbtn" class="btn">Today</button>
                <button id="7daybtn" class="btn">7 days</button>
                <button id="30daybtn" class="btn">30 days</button>
                <button id="60daybtn" class="btn">60 days</button>
                <button id="90daybtn" class="btn">90 days</button>
              </div>
            </div>
            <div id="metrics-panel">
              <div class="row-fluid no-space" id="graph-panel-container">
                <div class="span2 graph-panel">
                  <div class="logo">
                    <i class="icon-exclamation-sign icon-2x"></i>
                  </div>
                  <div class="bignum">2%</div>
                  <div class="graph-title selected">
                    AVG FCI RATE
                  </div>
                </div>
                 <div class="span2 graph-panel">
                  <div class="logo">
                    <i class="icon-group icon-2x"></i>
                  </div>
                  <div class="bignum">22.3K</div>
                  <div class="graph-title">
                    TOTAL USERS
                  </div>
                </div>
                 <div class="span2 graph-panel">
                  <div class="logo">
                    <i class="icon-user icon-2x"></i>
                  </div>
                  <div class="bignum">2.7K</div>
                  <div class="graph-title">
                    NEW USERS
                  </div>
                </div>
                 <div class="span2 graph-panel">
                  <div class="logo">
                    <i class="icon-time icon-2x"></i>
                  </div>
                  <div class="bignum">3.7 MIN</div>
                  <div class="graph-title">
                    AVG TIME SPENT
                  </div>
                </div>
                <!-- <div class="span2 graph-panel">
                  <div class="logo">
                    <i class="icon-bolt icon-2x"></i>
                  </div>
                  <div class="bignum">83K</div>
                  <div class="graph-title">
                    EVENTS LOGGED
                  </div>
                </div> -->
                 <div id="addMetric" class="span2 graph-panel">
                  <div class="logo" style="margin-top:8px;">
                    <i class="icon-plus icon-5x"></i>
                  </div>
                  <div class="bignum"></div>
                  <div class="graph-title">
                   ADD GRAPH
                  </div>
                </div>
              </div>

              <!-- <div id='linechart' class='linechart'></div> -->
              <div id='flotlinechart' class='linechart'></div>
            </div>
          </div>
        </div>
        <!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Add a new Data Metric and Source</h3>
  </div>
  <div class="modal-body">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1" data-toggle="tab">Real-time Data</a></li>
      <li><a href="#tab2" data-toggle="tab">Static Data</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab1">
        <form class="navbar-form pull-left" action="" onsubmit="addMetric(this)" id="addMetricForm">
        <input type="text" class="input-block-level" placeholder="Metric name" id="metricName">
        <input type="text" class="input-block-level" placeholder="Source" id>
        <input type="text" class="input-block-level" placeholder="Priority">
        <input type="text" class="input-block-level" placeholder="Positivity">
        <input type="text" class="input-block-level" placeholder="Logo">
      </form>
      </div>
      <div class="tab-pane" id="tab2">
        <form class="navbar-form pull-left" action="" onsubmit="addMetric(this)" id="addMetricForm">
        <input type="text" class="input-block-level" placeholder="Metric name" id="metricName">
        <input type="text" class="input-block-level" placeholder="Static Source" id>
        <input type="text" class="input-block-level" placeholder="Priority">
        <input type="text" class="input-block-level" placeholder="Positivity">
        <input type="text" class="input-block-level" placeholder="Logo">
      </form>
      </div>
    </div>
    
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary" type="submit" onclick="addMetric('addMetricForm')">Save</button>
  </div>
</div>
      </div>
    </div>
  </body>
</html>