<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/dashboard.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
  </head>
  
  <body>
    <header>
      <div id="navbar" class="navbar navbar-inverse">  
        <div class="navbar-inner">  
          <div id="nav_container" class="container"> 
            <span id="logo">
            <a  class="brand" href="#" title="Operations System Utility Monitoring">OSUM</a>
          </span>
            <ul id="subnavigation" class="nav">
              <li><a href="#">Engineering</a> </li>
              <li><a href="#">Operations</a> </li>
              <li><a href="#">Business</a> </li>
            </ul>
          </div>
        </div>
      </div>
    </header>

    <div id="container">
      <div class="row-fluid">
        
        <div id="sidebar" class="span2">
          <div id="innersidebar">
            <ul>
              <li class="selected"><span>Analytics</span></li>
              <li><span>Alerts</span></li>
              <li><span>Reports</span></li>
              <li><span>Data Settings</span></li>
              <li><span>Users</span></li>
            </ul>
          </div>
        </div>
        
        <!-- <div class="span2"> 
        
        </div> -->

        <div class="content">
          <div class="sectionTitle">
            Current Availabilty
          </div>
          <div class="scrollDiv">
            <div id="piecharts_container">
              <div class="pieHolder">
                <div id='pie1' class='pie'></div>
                <div id='pie1Title' class='pieTitle'><div id="pie1text" class="pietext"></div><div id="pie1num" class="pietext"></div></div>
              </div>
              <div class="pieHolder">
                <div id='pie2' class='pie'></div>
                <div id='pie2Title' class='pieTitle'><div id="pie2text" class="pietext"></div><div id="pie2num" class="pietext"></div></div>
              </div>
              <div class="pieHolder">
                <div id='pie3' class='pie'></div>
                <div id='pie3Title' class='pieTitle'><div id="pie3text" class="pietext"></div><div id="pie3num" class="pietext"></div></div>
              </div>
              <div class="pieHolder">
                <div id='pie4' class='pie'></div>
                <div id='pie4Title' class='pieTitle'><div id="pie4text" class="pietext"></div><div id="pie4num" class="pietext"></div></div>
              </div>
              <div class="pieHolder">
                <div id='pie5' class='pie'></div>
                <div id='pie5Title' class='pieTitle'><div id="pie5text" class="pietext"></div><div id="pie5num" class="pietext"></div></div>
              </div>
              <div class="pieHolder">
                <div id='pie6' class='pie'></div>
                <div id='pie6Title' class='pieTitle'><div id="pie6text" class="pietext"></div><div id="pie6num" class="pietext"></div></div>
              </div>
              <div class="pieHolder">
                <div id='pie7' class='pie'></div>
                <div id='pie7Title' class='pieTitle'><div id="pie7text" class="pietext"></div><div id="pie7num" class="pietext"></div></div>
              </div>
              <div class="pieHolder">
                <div id='pie8' class='pie'></div>
                <div id='pie8Title' class='pieTitle'><div id="pie8text" class="pietext"></div><div id="pie8num" class="pietext"></div></div>
              </div>
              <div class="pieHolder">
                <div id='pie9' class='pie'></div>
                <div id='pie9Title' class='pieTitle'><div id="pie9text" class="pietext"></div><div id="pie9num" class="pietext"></div></div>
              </div>
              <div class="pieHolder">
                <div id='pie10' class='pie'></div>
                <div id='pie10Title' class='pieTitle'><div id="pie10text" class="pietext"></div><div id="pie10num" class="pietext"></div></div>
              </div>
            </div>
            <img id="leftButton" class='hidden' src="./imgs/leftArrow.png" alt="<">
            <img id="rightButton" class='hidden' src="./imgs/rightArrow.png" alt=">">
          </div>
          <div id="panel">
            <div id="panel-header"> 
              <div id="panel-title"></div>
              <div class="btn-group" id="panel-btns" data-toggle="buttons-radio">
                <button id="24hrbtn" class="btn">Today</button>
                <button id="7daybtn" class="btn">7 days</button>
                <button id="30daybtn" class="btn">30 days</button>
                <button id="60daybtn" class="btn">60 days</button>
                <button id="90daybtn" class="btn">90 days</button>
              </div>
            </div>
            <div id="metrics-panel">
              <div class="row-fluid no-space" id="graph-panel-container">
                <div class="span2 graph-panel selected" id="fci-panel">
                  <div class="logo">
                    <i class="icon-exclamation-sign icon-2x"></i>
                  </div>
                  <div class="bignum">2%</div>
                  <div class="sparkChartHolder">
                    <span class="inlinesparkline"></span>
                  </div>
                  <div class="graph-title">
                    AVG FCI RATE
                  </div>
                </div>
                <div class="span2 graph-panel" id="peaktransactions-panel">
                  <div class="logo">
                    <i class="icon-exchange icon-2x"></i>
                  </div>
                  <div class="bignum"></div>
                  <div class="sparkChartHolder">
                    <span class="inlinesparkline"></span>
                  </div>
                  <div class="graph-title">
                    MAX TPS
                  </div>
                </div>
                <div class="span2 graph-panel" id="totaluser-panel">
                  <div class="logo">
                    <i class="icon-group icon-2x"></i>
                  </div>
                  <div class="bignum">22.3K</div>
                  <div class="sparkChartHolder">
                    <span class="inlinesparkline"></span>
                  </div>
                  <div class="graph-title">
                    TOTAL USERS
                  </div>
                </div>
                <div class="span2 graph-panel" id="newuser-panel">
                  <div class="logo">
                    <i class="icon-user icon-2x"></i>
                  </div>
                  <div class="bignum">2.7K</div>
                  <div class="sparkChartHolder">
                    <span class="inlinesparkline"></span>
                  </div>
                  <div class="graph-title">
                    NEW USERS
                  </div>
                </div>
                 <div class="span2 graph-panel" id="addmetric-panel">
                  <div class="logo" style="margin-top:5px;">
                    <i class="icon-plus icon-5x"></i>
                  </div>
                  <div class="bignum"></div>
                  <div class="sparkChartHolder">
                    <span class="inlinesparkline"></span>
                  </div>
                  <div class="graph-title">
                   ADD METRIC
                  </div>
                </div>
              </div>
               
              <div id="fci-content" class="graph-content">
                <div id='fcichart' class='linechart'></div>
              </div>
             <div id="peaktransactions-content" class="graph-content">
                <div id='peaktransactionschart' class='linechart'></div>
              </div>
              <div id="totaluser-content" class="graph-content">
              </div>
              <div id="newuser-content" class="graph-content">
              </div>
              <div id="addmetric-content" class="graph-content">
              </div>
            </div>
          </div>
          
        </div>



        <!-- Modal -->
        <div id="metricCreateModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Add a new Data Metric and Source</h3>
          </div>
          <div class="modal-body">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab1" data-toggle="tab">Real-time Data</a></li>
              <li><a href="#tab2" data-toggle="tab">Static Data</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab1">
                <form class="navbar-form pull-left" action="" onsubmit="addMetric(this)" id="addMetricForm">
                  
                  <h4>General:</h4>
                  <input type="text" class="input-block-level" placeholder="Metric name" id="metricName" name="metricName">
                  <input type="text" class="input-block-level" placeholder="Logo" name="logo">
                  
                  <h4>Source:</h4>
                  &nbsp;<input type="radio" name="inOrExt" value="in"> Internal &nbsp;
                  <input type="radio" name="inOrExt" value="in"> External

                  <h6>Data Type/Source:</h6>
                  <select class="selectpicker">
                     <option>Splunk Search</option>
                     <option>Graphite</option>
                     <option>==Create New Data Input Definition==</option>
                  </select>
                  <input type="checkbox" name="proxyBool" value="true">Need to be connected to a proxy server?<br>
                  <input type="text" class="input-block-level" placeholder="REST host" name="">
                  <input type="text" class="input-block-level" placeholder="Priority" name="priority">
                  <input type="text" class="input-block-level" placeholder="Positivity" name="positivity">

                  <h4>User Credentials</h4>
                  <input type="text" name="userid" id="userid" placeholder="Username">
                  <input type="password" name="password" id="password" placeholder="Password">
                  
              </form>
              </div>
              <div class="tab-pane" id="tab2">
                <form class="navbar-form pull-left" action="" onsubmit="addMetric(this)" id="addMetricForm">
                <input type="text" class="input-block-level" placeholder="Metric name" id="metricName">
                <input type="text" class="input-block-level" placeholder="Static Source" id>
                <input type="text" class="input-block-level" placeholder="Priority">
                <input type="text" class="input-block-level" placeholder="Positivity">
                <input type="text" class="input-block-level" placeholder="Logo">
              </form>
              </div>
            </div>
            
          </div>
          <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary" type="submit" onclick="addMetric('addMetricForm')">Save</button>
          </div>
        </div> <!-- /.modal -->

        <!-- Modal -->
        <div class="modal fade" id="sourceCreateModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Modal title</h4>
              </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

      </div>
    </div>
      <script type='text/javascript' src='http://www.google.com/jsapi'></script>
      <script type='text/javascript' src='js/jquery.js'></script>
      <script type='text/javascript' src='js/jquery.flot.min.js'></script>
      <script type='text/javascript' src='js/jquery.flot.pie.js'></script>
      <script type='text/javascript' src='js/bootstrap.js'></script>
      <script type='text/javascript' src='js/moment.min.js'></script>
      <script type='text/javascript' src='js/jquery.sparkline.min.js'></script>
      <script type='text/javascript' src='js/jquery.peity.min.js'></script>
      <script type='text/javascript' src='js/dashboard.js'></script>
      <script type='text/javascript'>
        $().ready(function(){init()});
      </script>
  </body>
</html>