<!DOCTYPE html>
<html>
  <head>
    <title>Sign In</title>
    <link rel="stylesheet" href="css/login.css">
    <script src="js/jquery.js"></script>
  </head>
  <body>
    <h1 class="title">OSUM Dashboard</h1>
    <div class="box">
      <div id="head">
        <h2 id="signin">Sign In</h2>
      </div>
      <div id="body">
        <form class="form" method="post" action="/dashboard">
          <input type="text" name="userid" id="userid" placeholder="Username">
          <input type="password" name="password" id="password" placeholder="Password">
          <p>
            <a href="javascript:void(0)">Forgot Username or Password?</a>
          </p>
          <input type="submit" id="submit" value="Log In">
        </form>
      </div>
    </div>

  </body>

  <script type="text/javascript">
    $(document).ready(function() {
      $("#userid").val("guest");
      $("#password").val("guest");
    });

  </script>

</html>