<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="css/login.css">
		<script type='text/javascript' src='js/bootstrap.js'></script>
	</head>

	<body>
		<div class="container">

			<h1>Welcome to OSUM Dashboard</h1>

			<!-- <div class="content"> -->
				<div class="login text-center">
					<!-- <div class="span6 offset5"> -->
						<div class="login-form">
							<h2>Login</h2>
							<form action="/dashboard">
								<fieldset>
									 <div class="clearfix">
						                <input type="text" placeholder="Username">
						              </div>
						              <div class="clearfix">
						                <input type="password" placeholder="Password">
						              </div>
						              <button class="btn btn-primary" type="submit">Sign in</button>
								</fieldset>	
							</form>
						</div>
					</div>
				<!-- </div> -->
			<!-- </div> -->
		</div>
	</body>
</html>