html {
	height: 100%;
}

body {
	font-family: arial;
	margin: 3em auto 3em auto;
	height: 100%;
}
#logo{
	width: 200px;
}
#logo a{
	color: #22d1ff;
	font-size: 30px;
	font-family: Impact;
	font-weight: bold;
	letter-spacing: 3px;
	width: 140px;
	margin: 0;
	padding: 10px 0 10px 60px;
}
#navbar .navbar-inner {
	padding-left: 0;
}
#subnavigation > li > a {
	padding-left: 0;
	padding-right: 30px;
}
.navbar{
	border-radius: 0px;
	margin-bottom: 0px !important;
}

.navbar-inner {
	border-radius: 0px !important;
}

#sidebar {
	/*position: fixed;*/
	left: 0;
	width: 200px;
	background-color: #1b1b1b;
	height: 100%;
	-webkit-user-select: none;
	overflow: hidden;

}
#innersidebar {
	width: 100%;
	height: 100%;
}
#innersidebar ul {
	list-style-type: none;
	margin: 0;
}
#innersidebar li {
	background-color: #1b1b1b;
	border: 0px;
	height: 80px;
	line-height: 80px;
	padding-left: 40px;
	color:#888 !important;
	font-family: Ubuntu,Helvetica,sans-serif;
	font-size: 18px;
	cursor: pointer;
}
#innersidebar li.selected{
	background-color: #393939;
}
#innersidebar li:hover{
	background-color: #393939;
}
.side-nav {
	text-align: center;
}


#nav_container {
	float: left;
}

.scrollDiv {
	position: relative;
	width: 100%;

}

#leftButton, #rightButton {
	position: absolute;
	cursor: pointer;
	z-index: 10;
	bottom: 0;
	padding: 0;
	margin: auto 0;
	width: 2%;
	height: 100%;
	border: none;
	outline: none;
	color: #000000;

	font-size: 100px;
	font-family: "Courier New", courier, fixed;

	filter: alpha(opacity=0);
	-webkit-transition: opacity .5s;
	-moz-transition: opacity .5s;
	-o-transition: opacity .5s;
	transition: opacity .5s;
}
 
#leftButton {
  left: 0;
}
 
#rightButton {
  right: 0;
}
 
 .visible {
 	opacity: 1;
 }
 .hidden {
 	opacity: 0;
 }
 /*(Turn off dotted black outline on FF3) */
 
#leftButton::-moz-focus-inner, #rightButton::-moz-focus-inner {
  border: none;
}
 
/*
  Left and right button hover states:
  Fade them in to 50% opacity
*/
 
#leftButton:hover, #rightButton:hover {
  /*opacity: .5;
  filter: alpha(opacity=50);*/
  outline: none;
}

.content {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100%;
	/*margin: 0px 0px;*/
}

.content.span9 {
	margin-left: 0px !important;
}

.sectionTitle{
	padding: 10px;
	background-color: #444444;
	color: #ffffff;
	font-size: 16px;
}
.pieHolder {
	position: relative;
	display: inline-block;
	width: 100px;
	height: 100px;
	line-height: 50px;
	text-align: center;
    font-size: 8px;
    font-weight: bold;
    color:#FFFFFF;
    /*margin-top: 5px;*/
}

.pieHolder > .pie {
	width: 100%;
    height: 100%;
    z-index: 2;
}

.pieHolder > .pieTitle {
	background: url(../imgs/pie_bg.png) no-repeat;
	background-size:50px 50px;
	position: absolute;
    top: 25px;
    left: 25px;
    z-index: 1;
    width: 50px;
    height: 50px;
}

.pietext {
	position: relative;
	top: 33%;
	line-height: 10px;
}

.linechart {
	width: 1000px;
	height: 400px;
}

#page_header {
	text-align: center;
	margin-bottom: 1.5em;
}

#piecharts_container {
	/*display: block;
	height: 300px;*/
	overflow:auto;
	white-space: nowrap;
	background-color: #F0F0F0;
	border: 1px solid #e8e9ee;
}
#body_container{
	position:relative;
	display:block;
	padding:50px 10px;
}

.stat{
	/*padding: 0px 0px 0px 0px;*/
	border-right:1px solid #e8e9ee;
	box-shadow:1px 0px 0px 0px;	
	text-align: center;
}

.stat-button{
	background-color: #E2E2E2;	
}

#container{
	height: 94.9%;
	width: 100%;
	overflow: hidden;
}

.logo{
	text-align: center;
}


#metrics-panel {
	/*width:100%;*/
	background-color:#ffffff;
	border-left: 1px solid #e8e9ee;
	border-right: 1px solid #e8e9ee;
}
#panel {
	margin-bottom: 30px;
	border-bottom: 1px solid #e8e9ee;
}
#panel-header{
	/*width: 100%;*/
	/*margin-top: 15px;*/
	background-color: #444444;
	height: 30px;
	color:#ffffff;
	padding:10px 10px 10px 10px;
	font-size: 16px;	
}


#graph-panel-container{
	/*border-radius: 15px;*/
	/*border-bottom: 1px solid #e8e9ee;*/
	background-color:#aeaeae;
}
.graph-panel{
	padding-top: 10px;
	background-color:#aeaeae;
	/*border-right: 1px solid #aeaeae;*/
	bottom: 0;
	height: 150px;
	position: relative;
	cursor: pointer;
	color: #666;
}

.graph-panel.selected{
	color:#000000;
	background-color:#ffffff;
	
}
.graph-panel .sparkChartHolder{
	margin-top: 10px;
	margin-left: 20%;
	text-align:center;
	width:100px;

}

.graph-panel:hover{
	color:#000000;
	background:#ffffff;
}

.graph-title{
	font:Ubuntu 13px;
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 30px;
	font-size: 16px;
	font-weight: bold;
}

.graph-panel > .bignum {
	margin-top: 10px;
	font-size: 20px;
	text-align: center;
}

#panel-title{
	float:left;
	margin-top: 5px;
}

#panel-btns{
	float:right;
}
#panel-btns > .btn{
	font-size: 10px;
	padding: 4px;
}

.graph-content {
	height:400px;
	width:100%;
	margin-left: 10px;
}