body {
	font-family: arial;
	width: 90%; 
	margin: 3em auto 3em auto;
}

.side-nav {
	text-align: center;
}

#nav_container {
	float: left;
	padding-left: 20px;
}

.scrollDiv {
	position: relative;
	width: 100%;

}

#leftButton, #rightButton {
	position: absolute;
	cursor: pointer;
	z-index: 10;
	bottom: 0;
	padding: 0;
	margin: auto 0;
	width: 2%;
	height: 100%;
	border: none;
	outline: none;
	color: #000000;

	font-size: 100px;
	font-family: "Courier New", courier, fixed;

	filter: alpha(opacity=0);
	-webkit-transition: opacity .5s;
	-moz-transition: opacity .5s;
	-o-transition: opacity .5s;
	transition: opacity .5s;
}
 
#leftButton {
  left: 0;
}
 
#rightButton {
  right: 0;
}
 
 .visible {
 	opacity: 1;
 }
 .hidden {
 	opacity: 0;
 }
 /*(Turn off dotted black outline on FF3) */
 
#leftButton::-moz-focus-inner, #rightButton::-moz-focus-inner {
  border: none;
}
 
/*
  Left and right button hover states:
  Fade them in to 50% opacity
*/
 
#leftButton:hover, #rightButton:hover {
  /*opacity: .5;
  filter: alpha(opacity=50);*/
  outline: none;
}

.pieHolder {
	position: relative;
	display: inline-block;
	width: 100px;
	height: 100px;
	line-height: 50px;
	text-align: center;
    font-size: 8px;
    font-weight: bold;
    color:#FFFFFF;
}

.pieHolder > .pie {
	width: 100%;
    height: 100%;
    z-index: 2;
}

.pieHolder > .pieTitle {
	background: url(../imgs/pie_bg.png) no-repeat;
	background-size:50px 50px;
	position: absolute;
    top: 25px;
    left: 25px;
    z-index: 1;
    width: 50px;
    height: 50px;
}

.pietext {
	position: relative;
	top: 33%;
	line-height: 10px;
}

.linechart {
	width: 1000px;
	height: 400px;
}

#page_header {
	text-align: center;
	margin-bottom: 1.5em;
}

#piecharts_container {
	/*display: block;
	height: 300px;*/
	overflow:auto;
	white-space: nowrap;
}
#body_container{
	position:relative;
	display:block;
	padding:50px 10px;
}

.stat{
	/*padding: 0px 0px 0px 0px;*/
	border-right:1px solid #e8e9ee;
	box-shadow:1px 0px 0px 0px;	
	text-align: center;
}

.stat-button{
	background-color: #E2E2E2;	
}

#container{
	padding-top: 80px;
}

.logo{
	text-align: center;
}

.bignum{
	font: 30px;
	color: #666;
	text-align: center;
}

#metrics-panel {
	/*width:100%;*/
	background-color:#F9F9F9;
	border-left: 1px solid #e8e9ee;
	border-right: 1px solid #e8e9ee;
}
#panel {
	margin-bottom: 30px;
	border-bottom: 1px solid #e8e9ee;
}
#panel-header{
	/*width: 100%;*/
	margin-top: 15px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #f0f0f0;
	text-shadow:0 2px #FFF;
	height: 30px;
	padding:10px 10px 10px 10px;
	font-size: 18px;
		/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #EDEDED 0%, #D6D6D6 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #EDEDED 0%, #D6D6D6 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, #EDEDED 0%, #D6D6D6 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #EDEDED), color-stop(1, #D6D6D6));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #EDEDED 0%, #D6D6D6 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #EDEDED 0%, #D6D6D6 100%);
}
#graph-panel-container{
	/*border-radius: 15px;*/
	border-bottom: 1px solid #e8e9ee;
}
.graph-panel{
	padding-top: 10px;
	background-color:#F9F9F9;
	border-right: 1px solid #e8e9ee;
	bottom: 0;
	height: 120px;
	position: relative;
	cursor: pointer;
}
.graph-panel:hover > .graph-title, .graph-panel > .graph-title:hover{
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #EDEDED 0%, #EDEDED 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #EDEDED 0%, #EDEDED 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, #EDEDED 0%, #EDEDED 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #EDEDED), color-stop(1, #EDEDED));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #EDEDED 0%, #EDEDED 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #EDEDED 0%, #EDEDED 100%);
}

.graph-panel > .graph-title.selected {
	background-image: linear-gradient(to bottom, #484848 20%, #2B2B2B 100%);
	color: #ffffff;
	text-shadow:none;
}

.graph-title{
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(top, #EDEDED 0%, #D6D6D6 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top, #EDEDED 0%, #D6D6D6 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(top, #EDEDED 0%, #D6D6D6 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #EDEDED), color-stop(1, #D6D6D6));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top, #EDEDED 0%, #D6D6D6 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to bottom, #EDEDED 0%, #D6D6D6 100%);
	font:Ubuntu 13px;
	text-shadow:0 2px #FFF;
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%
}

.graph-panel > .bignum {
	margin-top: 20px;
	font-size: 30px;
}

#panel-title{
	float:left;
	margin-top: 5px;
}

#panel-btns{
	float:right;
}
#panel-btns > .btn{
	font-size: 10px;
	padding: 4px;
}

.graph-content {
	height:400px;
	width:100%;
}